.no-grid {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: indianred;
}

.grid-container {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid azure;

  &.success {
    border: 3px solid #0db40d;
  }

  &.error {
    border: 3px solid indianred;;
  }
}

.footer {
  font-size: 18px;
  padding: 28px;
  text-align: center;
  color: darkslategray;
  font-weight: bold;
}
