.container {
  width: 600px;
  height: 660px;
  margin: 30px auto;
}

.title, .settings {
  height: 30px;
}

.title {
  padding: 28px;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
  color: cadetblue;
  letter-spacing: 3px;
}
